<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Girls practice</title>
</head>
<body>
{% for post in posts %}
     <div>
            <h1><a href="">Django Girls Blog{{ post.title }}</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14{{ post.published_date }}</p>
            <h2><a href="">My first post</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
{% endfor %}e
</body>
</html>